@charset "UTF-8";
nav input.firstInput {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
div.jumbotron {
  margin-top: 50px;
  background: url("../img/jumu3.jpg") no-repeat center center;
  background-size: 100%;
  height: 23vw;
  margin-bottom: 3vw !important;
}
main {
  margin-bottom: 60px;
}
main .nav > li > a {
  padding: 10px 50px !important;
  font-size: 18px;
}
main ul {
  padding: 15px 0 40px 0;
}
main div.apply div.col-md-5 {
  padding: 0 0 0 50px;
}
main div.apply div.col-md-5 img {
  width: 100%;
}
main div.apply div.col-md-7 div.form-group:first-of-type {
  margin: 0 0 20px 0;
}
main div.apply div.col-md-7 div.form-group:not(:first-of-type) {
  margin: 20px 0;
}
main div.apply div.col-md-7 button {
  width: 180px;
  margin-top: 25px;
}
main .form .has-feedback .form-control {
  display: inline-block;
  padding-right: 0;
  width: 80%;
}
main .form div.require:before {
  position: absolute;
  content: '*';
  color: red;
  margin-left: -10px;
  margin-top: 10px;
  font-size: 16px;
}
