@charset "UTF-8";
main {
  margin-top: 50px;
}
main ol.breadcrumb {
  margin-top: 15px;
  font-size: 17px;
}
main div.detail {
  background-color: #f5f5f5;
  padding: 30px;
}
main div.detail h2 {
  text-align: center;
}
main div.detail div.font {
  padding: 0 15%;
}
main div.detail div.font h4 {
  margin: 20px 0;
}
main div.detail div.font p {
  padding: 5px 0;
}
main div.detail div.font h5 {
  text-align: center;
}
main div.detail div.font a:after {
  content: '\f0c5';
  font-family: glyphicon;
  position: absolute;
  margin-left: 5px;
}
